@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-image: linear-gradient(to right, #1f1f1f 1px, transparent 1px),
  linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);
  background-size: 4rem 4rem;
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

.light-bg-grid-pattern {
  background-image: linear-gradient(to right, #e5e7eb 1px, transparent 1px),
  linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 4rem 4rem;
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}
